<section class="other-content">
	<h2>à propos</h2>
	<p>
		Paris Clap est une web application proposant la découverte de la capitale sous la thématique 
		des films qui y sont tournés.
		Il s'agit d'une application visant à simplifier la visite des lieux de tournages à Paris.
		Son utilisation principale est une carte interactive basée sur l'api Google Maps. 
		Elle propose également des ballades thématiques pour les plus cinéphiles qui souhaiterait redécouvrir Paris d'une maniére originale.
		<br><br>
		Cette application à été développée par trois étudiantes de l'IMAC (ingénieur image multimédia audiovisuel et communication) dans le cadre d'un projet tuteuré 
		en parteneria avec la Mairie de Paris et le Forum UNESCO.
	<p>
	<p id =google-copyright>
		Données cartographiques ©2016 Google - Référez-vous aux mentions légales pour les détails
	</p>	
	<p id=copyright>
		Alice Maixent - Mégane Burckel - Charlotte Caseau - 2016 - Tout droits résérvés
	</p>
</section>