<section class="other-content">
	<h2>à propos</h2>
	<p>
		Paris Clap est une web application proposant la découverte de la capitale sous la thématique
		des films qui y ont été tournés.
		Il s'agit d'une application visant à simplifier la visite des lieux de tournages à Paris.
		Son utilisation principale est une carte interactive basée sur l'API Google Maps.
		Elle propose également des balades thématiques pour les plus cinéphiles qui souhaiteraient redécouvrir Paris d'une manière originale.
		<br><br>
		Cette application a été développée par trois étudiantes de l'IMAC (ingénieur image multimédia audiovisuel et communication) dans le cadre d'un projet tuteuré
		en parteneriat avec la Mairie de Paris et le Forum UNESCO.
	<p>
	<p id ="google-copyright">
		Données cartographiques ©2016 Google - Référez-vous aux mentions légales pour les détails
	</p>
	<p id="copyright">
		Mégane Burckel - Charlotte Caseau - Alice Maixent - 2016 - Tout droits réservés
	</p>
</section>