<div id="heading">
<h4>{{ message }}</h4>
  <div id ="icone">
    <img ng-src="images/{{icone}}" alt="explorer-icone" />
  </div>
    <form method="get" id="search">
    <input name="q" type="text" size="40" placeholder="Titre, Genre, Réalisateur, Acteurs, Année..." ng-model="searchFilms" />
  </form>
   <button class="itineraire-btn" ng-click="showme = showme ? false : true"><</button>

  <button ng-click="removeDirection()">Remove Direction</button>

</div>

<div id="Responsive-Content">
  <div id="map_canvas">
      <ui-gmap-google-map id="map" center="map.center" zoom="map.zoom" draggable="true" options="options" events="map.events">
        <ui-gmap-marker idkey="myLoc.id" coords="myLoc.coords" options="myLoc.options" events="myLoc.events" control='myLoc.control' class="Comedy">
        </ui-gmap-marker>
          <ui-gmap-marker ng-repeat="mov in moviesMarkers | filter: searchFilms | filter: fi" idkey="mov.id" coords="mov.coords" options="mov.options" events="mov.events" control='mov.control' class="mov.templateParameter.infos.genre mov.templateParameter.infos.annee">
            <ui-gmap-window
             show="mov.windowOptions.show"
             options="mov.windowOptions.options"
             closeClick="mov.windowOptions.closeClick()"

             templateParameter="mov.windowOptions.templateParameter"
             control="mov.windowOptions.control">
              <div class="infoWindowContent" ng-controller="WindowCtrl">

                <div ng-if="mov.windowOptions.templateParameter.infos.imdbID != 0">
                  <img ng-src="http://img.omdbapi.com/?i={{mov.templateParameter.infos.imdbID}}&apikey=dab7b153">
                </div>
                <div ng-else-if="mov.templateParameter.infos.poster != 'N/A'">
                  <img src="{{mov.templateParameter.infos.poster}}"/>
                </div>
                <div ng-else></div>
                <div class ="content">
                  <h2>{{mov.templateParameter.infos.titre}}</h2>
                  <p><b>Réalisateur : {{mov.templateParameter.infos.real}}</b></p>
                  <p><b>Sortie :</b> {{mov.templateParameter.infos.annee}}</p>
                  <p><b>Genre :</b> {{mov.templateParameter.infos.genre}} </p>
                </div>
				 <button ng-click ="calcRoute('{{mov.templateParameter.infos.lat}}', '{{mov.templateParameter.infos.lng}}', '{{myLoc.coords.latitude}}', '{{myLoc.coords.longitude}}', 'TRANSIT')">j'y vais !</button>

              </div>
            </ui-gmap-window>
          </ui-gmap-marker>
      </ui-gmap-google-map>
      <div id="map-panel" ng-show="showme">

<!--         <div id="travel_selector" ng-controller="WindowCtrl">
          <label for="singleSelect"> Mode of Travel: </label><br>
            <select id="travelType" name="singleSelect" ng-model="travelMode" ng-change="calcRoute('{{travelMode}}')">
                <option value="WALKING" selected="selected">Walking</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="DRIVING">Driving</option>
                <option value="TRANSIT">Transit</option>
            </select></p>
        </div> -->

      </div>
  </div>

<div class="animate-slide" ng-show="slide" >
        <h2 ng-click="slide=!slide">genres</h2><img class="arrow" ng-src="images/left-arrow.png" ng-click="slide=!slide" alt="comedy-pin" /><hr>
    <table>
      <tr>
          <td>
            <img src="images/all-pin.png" alt="all-pin"/>
            <input type="radio" id="All" ng-model="fi" name="fi" value="false" checked />
            <label for="All"><span></span><div>All</div></label>
          </td>
          <td>
            <img src="images/action-pin.png" alt="action-pin"/>
            <input type="radio" id="Action" ng-model="fi" name="fi" value="Action" />
            <label for="Action"><span></span><div>Action</div></label>
          </td>
          <td>
            <img src="images/adventure-pin.png" alt="adventure-pin" />
            <input type="radio" id="Adventure" ng-model="fi" name="fi" value="Adventure" />
            <label for="Adventure"><span></span><div>Adventure</div></label>
          </td>
          <td>
            <img src="images/comedy-pin.png" alt="comedy-pin" />
            <input type="radio" id="Comedy" ng-model="fi" name="fi" value="Comedy" />
            <label for="Comedy"><span></span><div>Comedy</div></label>
          </td>
      </tr>
      <tr>
          <td>
            <img src="images/horror-pin.png" alt="horror-pin" />
            <input type="radio" id="Horror" ng-model="fi" name="fi" value="Horror" />
            <label for="Horror"><span></span><div>Horror</div></label>
          </td>
          <td>
            <img src="images/drama-pin.png" alt="drama-pin" />
            <input type="radio" id="Drama" ng-model="fi" name="fi" value="Drama" />
            <label for="Drama"><span></span><div>Drama</div></label>
          </td>
          <td>
            <img src="images/romance-pin.png" alt="romance-pin" />
            <input type="radio" id="Romance" ng-model="fi" name="fi" value="Romance" />
            <label for="Romance"><span></span><div>Romance</div></label>
          </td>
          <td>
            <img src="images/thriller-pin.png" alt="thriller-pin" />
            <input type="radio" id="Thriller" ng-model="fi" name="fi" value="Thriller" />
            <label for="Thriller"><span></span><div>Thriller</div></label>
          </td>
      </tr>
  </table>
  </div>
</div>
