<h2> {{marker.title}} </h2>

<!--  -->
<div class="infoWindowContent">
	<div id ="content">
		<p><b>Réalisateur : {{info.real}}</b></p>
		<button ng-click ="calcRoute(info.lat,info.lng)">GO!</button>
	</div>
</div>

<!--  -->
<div class="infoWindowContent">
	<div id ="content">
		<p><b>Réalisateur : {{info.real}}</b></p>
		<p><b>Sortie :</b> {{data.Year}}</p>
		<p><b>Genre :</b> {{data.Genre}} </p>
		<p><b>Acteurs :</b>{{data.Actors}}</p>
		<button ng-click ="calcRoute(info.lat,info.lng)">GO!</button>
	</div>
</div>

<!--  -->
<div class="infoWindowContent">
	<img src="{{data.Poster}}"></img>
	<div id ="content">
		<p><b>Réalisateur : {{info.real}}</b></p>
		<p><b>Sortie :</b> {{data.Year}}</p>
		<p><b>Genre :</b> {{data.Genre}} </p>
		<p><b>Acteurs :</b>{{data.Actors}}</p>
		<button ng-click ="calcRoute(info.lat,info.lng)">GO!</button>
	</div>
</div>