<section class="other-content">
	<h2>about</h2>
	<p>
		Paris Clap is a web application which enables you to discover Paris under
		the theme of the movies that were shot in its streets. It is an application aiming at simplifying the
		visit of those particular places.
		It’s main usage is an interactive map based on the Google Maps API
		The application also offers thematic walks for the most filmgoing persons who would like to rediscover Paris in an original way.
		<br><br>
		This application was developed by three student of the engineering school IMAC (multimedia) in the context of a school project in partnership with Paris city hall and the UNESCO forum.
	<p>
	<p id ="google-copyright">
		Map datas ©2016 Google - Please see the General Conditions for more information
	</p>
	<p id="copyright">
		Mégane Burckel - Charlotte Caseau - Alice Maixent - 2016 - All right reserved
	</p>
</section>
