<section class="other-content">
	<h2>settings</h2>
	<p>
		{{ message }}
	</p>
	<h3>Languages</h3>
	<a href="http://parisclap.ingenieur-imac.fr/#/parametres">French </a>
	<a id="selected" href="">/ English</a>
	<h3>Geolocation</h3>
	<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
</section>
