<?xml version="0.10.4"?>
<! - Web.Config Configuration File - >

<configuration>
    <system.web>

    <httpProtocol>
  <customHeaders>
    <add name="Access-Control-Allow-Origin" value="*" />
    <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
  </customHeaders>
</httpProtocol>

       <customErrors mode="off" />
    </system.web>
</configuration>

<! --Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode ="RemoteOnly" deFaultRedirect = "mycustompage.htm" />
    </system.web>
</configuration>







