/****************************** HEADER ***************************/



/****************************** GENERAL ***************************/

body
{
	margin:0;
	margin-bottom:50px;
	padding:0;
	background:#dfe2e2;
	color:#000;
	font:14px "Source Sans",helvetica,arial,sans-serif;
	font-weight:200;
	text-rendering:optimizeLegibility;
	width:100%;
}


/****************************** FOOTER ***************************/
#footer {

	background:white;
	position:fixed;
	bottom:0.1;
	width:100%;
	height:80px;
	
}

#footer button
{
width:49%;
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
border-radius:0px;
border: solid #1f628d 0px;
}

#footer button:hover
{
background-color:white;
}

#footer button:focus
{
background-color:#021349;
color:white;
}




