

<p>
	{{ message }}
</p>



 <div id="map_canvas">
    <ui-gmap-google-map id="map" center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker idkey="myLoc.id" coords="myLoc.coords" options="myLoc.options" events="myLoc.events" control='myLoc.control' class="Comedy">
        </ui-gmap-marker>
        <span ng-if="checkedAll" class="animate-if">
          <ui-gmap-marker ng-repeat="mov in moviesMarkers" idkey="mov.id" coords="mov.coords" options="mov.options" events="mov.events" control='mov.control' class="mov.templateParameter.infos.Genre">
             <ui-gmap-window options="windowOptions" closeClick="closeClick()" ng-controller="WindowCtrl" >
              <!-- <div class="infoWindowContent" > -->
                <!-- Pas d'infos sur le film -->
<!--                 <div class="infoWindowContent" ng-if="mov.templateParameter.infos.year == 0">
                  <div class ="content">
                    <p><b>Réalisateur : {{mov.templateParameter.infos.real}}</b></p>
                    <button ng-click ="clickGo()">GO!</button>
                  </div>
                </div> -->
                <div class="infoWindowContent">
                  <div ng-if="mov.templateParameter.infos.poster != 'N/A'">
                    <img src="{{mov.templateParameter.infos.poster}}"/>
                  </div>
                  <div class ="content">
                    <h2>{{templateParameter.infos.titre}}</h2>
                    <p><b>Réalisateur : {{mov.templateParameter.infos.real}}</b></p>
                    <p><b>Sortie :</b> {{mov.templateParameter.infos.annee}}</p>
                    <p><b>Genre :</b> {{mov.templateParameter.infos.genre}} </p>
                    <p><b>Acteurs :</b>{{mov.templateParameter.infos.acteurs}}</p>
                    <button ng-click ="clickGo()">GO!</button>
                  </div>
                </div>
              </ui-gmap-window>
          </ui-gmap-marker>
        </span>
    </ui-gmap-google-map>
    <div id="map-panel"></div>
</div>
<form>
  <input type="checkbox" ng-model="checkedAll" ng-init="checkedAll=true"  /> All<br>
  <div ng-repeat="(i, filtre) in filtres">
      <input type="checkbox" ng-model="filtre" ng-init="filtre=false" ng-change="hideShowStuff(filtres[i])" > {{ filtres[i] }} - value : {{filtre}} <br>
  </div>
</form>

<script type="text/javascript">

</script>


<!--   Click me: <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"><br/>
<div>
  Show:
  <div class="check-element animate-show" ng-show="checked">
     I show up when your checkbox is checked.
  </div>
</div>
<div>
  Hide:
  <div class="check-element animate-show" ng-hide="checked">
     I hide when your checkbox is checked.
  </div>
</div> -->

<!-- <div id="map_canvas">
    <div id="map"></div>
    <div id="map-panel"></div>
</div> -->

<!-- <form>
	<input type="checkbox" ng-model="allVal" id="all" ng-change="allAction()" > All<br>
<tt>debug = {{allVal}}</tt><br/>

	<div ng-repeat="filtre in filtres">
	  	<input type="checkbox" name="{{ filtre | lowercase}}" value="{{ filtre }}" id="{{ filtre | lowercase}}" > {{ filtre }}<br>
	</div>
</form> -->
<!--
<script>
  angular.module('checkboxExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.checkboxModel = {
       value1 : true,
       value2 : 'YES'
     };
    }]);
</script>
<form name="myForm" ng-controller="ExampleController">
  <label>Value1:
    <input type="checkbox" ng-model="checkboxModel.value1">
  </label><br/>
  <label>Value2:
    <input type="checkbox" ng-model="checkboxModel.value2"
           ng-true-value="'YES'" ng-false-value="'NO'">
   </label><br/>
  <tt>value1 = {{checkboxModel.value1}}</tt><br/>
  <tt>value2 = {{checkboxModel.value2}}</tt><br/>
 </form> -->


<!-- <div>
  <input type="checkbox" ng-model="confirmed" ng-change="change()" id="ng-change-example1" />
  <input type="checkbox" ng-model="confirmed" id="ng-change-example2" />
  <label for="ng-change-example2">Confirmed</label><br />
  <tt>debug = {{confirmed}}</tt><br/>
  <tt>counter = {{counter}}</tt><br/>
</div> -->



