/****************************** GENERAL ***************************/
html, body {
	font-family: 'Roboto', sans-serif;
    height: 100%;
	width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Oswald);

/****************************** Heading map ***************************/
#heading
{
		margin-left: auto;
    margin-right: auto;
    /*background-color: #FF3333;*/
		background-color:black;
    text-align: center;
    padding-top: 1px;
    height: 3.5em;
		margin-top: -2px;
		width:100%
}
#heading h4{
  display:inline-block;
}
.headingBalade form {
  display: none;
}
.headingBalade .mon-itineraire {
  margin-top:-1px;
}
.mon-itineraire{
	background-color:#FF3333;
	float:right;
	margin-top:-43px;
 	width:30%;
	height: 3.56em;
}


.mon-itineraire p{
	color:white;
	margin-top:10px;
	margin-bottom:4px;

	font: bold 14px 'lucida sans', 'trebuchet MS', 'Tahoma';

}

.mon-itineraire img{
	width:18px;

}

.navigation-bar{
	height:4.8em!important;
}
.navigation-bar img{
	width:21%;
	min-width: 150px;
	margin-top:2px!important;
}
.topcoat-icon, .topcoat-icon--large{
	height:1.5rem!important;
	width:1.5rem!important;
	margin-top:17px!important;
}
#headingBallades
{
		margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align: center;
    padding-top: 1px;
    height: auto;
  	margin-top:0px;
}
.listballade {
 padding:10px;
}
.listballade a {
text-decoration: none;
color:black;

}

.listballade p {

  display:inline-block;
}

.listballade img {
max-width:200px;
display:inline-block;

}
.listballade li, h3{
list-style-type: none;
margin-left:20px;
}
#headingBallades h4
{
margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align:left;
    padding-top: 1px;
    height: auto;
    margin-bottom:0px;

}

#headingBallades.itineraire-btn
{
  background-color:#C90000;
  color:white;
  float:right;
  font-weight:bold;
  overflow:hidden;
  border-width:1px;
  padding:0px 10px;
  font-size:12px;
}

#heading h4
{
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	font-size:14px;
	padding: 1px 1px;
	margin-top: 6px;
}

#icone
{
	margin-top: -32px;
    padding-right: 240px;
    margin-left: 15px;
    position: relative;
    width: 10px;

}

#icone img
{
	min-width: 14px;
    max-width: 15px;
}

.itineraire-btn
{
	background-color: rgba(201, 0, 0, 0);
    color: white;
    float: right;
    font-weight: bold;
    overflow: hidden;
    border-width: 1px;
    padding: 0px 10px;
    font-size: 12px;
    margin-top: 1px;
    margin-right: 1%;
    z-index: 5;
}

.itineraire-btn img {
width:22px;
}

.close-btn
{
	background-color: #C90000;
    float: right;
    padding: 0px 3px;
    margin-top: 1px;
    height: 18px;
    margin-top: 5px;
    margin-right: 9px;
    z-index: 5;

}

.close-btn img
{
	width:9px;
	padding: 0px 2px;
}

.itineraire-btn :active
{
	background-color:black;
	color:white;
	overflow:hidden;
}

.other-content
{
	padding : 10px 10px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	min-width : 350px;
}

.other-content h2
{
	font-size: 20px;
    font-variant: small-caps;
    font-weight: 800;
    color: #454545;
}

.other-content p
{
    color: #454545;
	margin-top:25px;
}

#google-copyright
{
	color: #0058FF
}

.other-content h3
{
	font-size:16px;
	color:black;
	font-weight:700;
}

.other-content a{
	text-decoration:none;
	color:grey;
}

.other-content #selected{
	color:#FF3333;
	font-weight:600;
}


/****************************** FILTRES ***************************/
.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}
/*
.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}*/

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/****************************** MAP ***************************/

#Responsive-Content{
  position:relative;
  background-color:#FFF;
  margin:0;
  overflow:hidden;
}
.angular-google-map-container { height: 500px; }
 #map, #map-panel {
    max-height: 100%;
    min-height: 450px;
    width: 100%;
    margin: 0px;
}

#map_canvas {
    position: relative;
	/*height:485px;*/
}
#repeat{
    display: inline;
}

#names {
    cursor: pointer;
}

.gmnoprint {
display:none;
}

.gm-style-iw
{
max-height:600px;
}

/****************************** MAP-PANEL ***************************/
#map-panel  {
  width: 100%;
	height:auto;
  float: right;
  position: relative;
    margin-top: -500px;
	background-color:white;
	max-height: 466px;
	overflow-x: hidden;
    overflow-y: hidden;
	overflow: auto;
	min-width:300px;
	border-style: solid;
    border-width: 0px;
	min-height: 500px;
}
#balade #map-panel {
    width: 25%;
  height:auto;
    float: right;
    position: relative;
    margin-top:-450px;
  background-color:white;
  max-height: 450px;
  overflow-x: hidden;
    overflow-y: hidden;
  overflow: auto;
  min-width:300px;
  border-style: solid;
    border-width: 0px;
  min-height: 100px;

}
#map-panel tr {
  font-size: 14px;
  margin-left:auto;
  margin-right:auto;
}

.adp-agencies {
    font-size: 10px;
    margin: 30px 0;
		}

#map-panel .adp-legal {
  font-size:9px;
  bottom: 0;

}

#map-panel .adp{
			font-family: Lucida,sans-serif;
	    font-weight: 500;
	    color: #2C2C2C;
	    padding: 0px 40px;
	    width: 30%;
	    min-width: 310px;
	    margin-top: 35px;
	    margin-left: auto;
	    margin-right: auto;
}

#map-panel .adp-summary{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
font-size: 18px;
color: #c90000;
font-family: Oswald;

}

body {
    overflow:hidden!important;
}

#map-panel .adp-directions {
margin-left: auto;
margin-right: auto;
}
#map-panel .adp-directions td{
text-align: center;
}

#map-panel .adp-directions td{
border-color: whitesmoke;
}
#map-panel .adp-placemark {
			background: none;
	    padding: 5px;
	    margin-bottom: 5px;
	    border: 2.5px solid #FF3333;
	    color: #2c2c2c;
	    cursor: pointer;
	    height: 3em;
	    margin: 2px 0px 2px 0px;
	    vertical-align: middle;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
  }

  #map-panel .adp-placemark td {
    padding: 5px 5px;
    text-align: center;
		font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma'

  }


#map-panel #top {
		font-variant: small-caps;
    font-size: 18px;
    text-align: center;
    height: 50px;
    color: white;
    background-color: #FF3333;
		padding-bottom:20px!important,

}

#top ul {
margin-top:0px !important;
position:relative;
padding:5px!important;
}

 #top li {
 display: inline;
 position:relative;
 margin-top:0px!important;
 left:0px;;
 padding-left:10px!important;
 padding-top:10px;

}


#top img {
width:30px!important;
margin:0px!important;
padding:5px 5px!important;
display:inline!important;
border-style: solid;
border-width: 2px;
}

#on {
	background-color:black;
}

#cross {
	border-style:none!important;
}


#map-panel .warnbox-content, .adp-warnbox
{
    display: none;
}

#map-panel  img{
    width: 12px;
    height: auto;
	display:none;
}

#map-panel  td {
padding: 2% 0%;
font-weight: 500;

}

#map-panel .adp-substep .adp-stepicon {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    padding-left: 6px;
}

#map-panel button
{
	font-size: 14px;
    padding: 0px 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -1%;
    height: 18px;
    background-color: black;
    color: white;
	position:absolute;
}

#itineraire-btn
{
float:left;
position: relative;


}

/****************************** Info window ***************************/

.infoWindowContent
{
	margin-top:-1em;
	position:relative;
	min-height:150px;
	height:auto;
	max-height:200px;
	max-width:190px;
	min-width:180px;
}

.infoWindowContent img
{
	width: 40%;
    position: absolute;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: auto;
}

.content
{
    float: right;
    width: 50%;
}

.content p
{
  font-size: 9px;
  margin-bottom: 1px;
  color:black;
  -webkit-margin-before: 0em;
}

.infoWindowContent button
{
    padding: 0px 20px;
    color: white;
    background-color: rgb(143, 0, 0);
    height: 20px;
    margin-top: 10px;
    margin-left: 40%;
	font-variant:small-caps;
	font-weight:bold;
	font-size:12px;
}

.content button:hover
{
    background-color: grey;
}

.content h2
{
	font-size: 13px;
    padding: 0px 0px;
    padding-bottom: -1px;
    margin-bottom: 3px;
    color: #555;

}


/****************************** Search Bar ***************************/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

 /* Form wrapper styling */
.search-wrapper {
width: 213px;
margin-top:10px;
margin-left:2%;
position:relative;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Form text input */

.search-wrapper input {
width: 168px;
height: 12px;
padding: 10px 5px;
float: left;
font: bold 12px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 0 0 0 0;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 32px;
width: 35px;
font: bold 13px/20px 'Oswald';
color: white;
text-transform: uppercase;
background: #FF3333;
border-radius: 0 0 0 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover{
    background: #e54040;
}

.search-wrapper button img{
   width:17px;
	 margin-top:5px;
}

.search-wrapper button:active,
.search-wrapper button:focus{
    background: #c42f2f;
    outline: 0;
}

.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #FF3333 transparent;
    top: 8px;
    left: -6px;
}

.search-wrapper button:hover:before{
    border-right-color: #e54040;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}




/****************************** Filtres ***************************/

#slide{
  width:100%;
  height:10px;
  top:90%;
  background: grey;
  position:fixed;
  bottom:0;
}


.animate-slide {
  background:black;
  opacity: 0.88;
  position:fixed;
  width: 100%;
  height:100%;
  top: 70%;
  -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
  transform: translate3d(0,0,0,);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.animate-slide  h2
{
	text-align:left;
	padding-left:2%;
	padding-right:70%;
	font-size:18px;
	margin-top: -1px;
	color:white;
	font-variant: small-caps;
	display : inline-block;
}
/*
.animate-slide  hr
{
	margin-top: -12px;
    margin-bottom: auto;
    border-width: 0.5px;
    border-top: 1px solid rgba(47, 41, 41, 0.95);
    padding-bottom: 5px;

}
*/
.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove {
  display:block!important;
}

.animate-slide.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.8s slide-up;
  animation:0.8s slide-up;
}

.animate-slide.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.8s slide-down;
  animation:0.8s slide-down;
}

.animate-slide.ng-hide {
    /*position:fixed;*/
  top:96%;
  display:block!important;
}

.arrow
{
	width: 6.5px;
    float: right;
    margin-top: 5.5px;
    margin-right: 2%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-up
{
  0%   {top:80%;}
  100%  {top:0;}
}

/* Standard syntax */
@keyframes slide-up
{
  0%   {top:80%;}
  100%  {top:0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-down
{
  0%  {top:0;}
  100%   {top:80%;}
}

/* Standard syntax */
@keyframes slide-down
{
  0%  {top:0;}
  100%   {top:80%;}
}

/************* INPUT *************/
table
{
  /*margin: 0 auto;*/
  width:100%;
  max-width: 30em;
}
tr{
  height:100%;
}
td
{
  text-align: center;
  padding-top:10px;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: white;
    font-family:Arial, sans-serif;
    font-size:1em;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color: black;
}

input[type="radio"]:checked + label span{
     background-color: white;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

table img
{
  width:1.7em;
  min-width:13px;
  height:auto;
  float:right;
  margin-left:-0.25em;
  margin-top: -0.25em;
  position:absolute;
  z-index:-1;
}

label div{
  margin-top:15px;
  display:block;
}

/****************************** FOOTER ***************************/
.footer {
 text-align: center;
 margin: 80px 0 110px;
}

.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}

.footer img {
   margin: 0 10px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 0px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 0px solid #555555;
}

.onoffswitch {
    position: relative; width: 62px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 14px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #E3E3E3; color: #B39D9D;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #E3E3E3; color: #A18C8C;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 0px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #FF3333;
}
