/****************************** GENERAL ***************************/
html, body {
	font-family: 'Roboto', sans-serif;
    height: 100%;
	width: 100%;
}

/****************************** Heading map ***************************/
#heading
{
	margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align: center;
    padding-top: 1px;
    height: auto;
	margin-top: -2px;
}
#headingBallades
{
margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align: center;
    padding-top: 1px;
    height: auto;
  margin-top:0px;
}


#headingBallades h4
{
margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align:left;
    padding-top: 1px;
    height: auto;
    margin-bottom:0px;

}

#headingBallades.itineraire-btn
{
  background-color:#C90000;
  color:white;
  float:right;
  font-weight:bold;
  overflow:hidden;
  border-width:1px;
  padding:0px 10px;
  font-size:12px;
}

#heading h4
{
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	font-size:14px;
	padding: 1px 1px;
	margin-top: 6px;
}

#icone
{
	margin-top: -32px;
    padding-right: 240px;
    margin-left: 15px;
    position: relative;
    width: 10px;

}

#icone img
{
	min-width: 14px;
    max-width: 15px;
}

.itineraire-btn
{
	background-color: rgba(201, 0, 0, 0);
    color: white;
	float: right;
    font-weight: bold;
    overflow: hidden;
    border-width: 1px;
    padding: 0px 10px;
    font-size: 12px;
	margin-top: -24px;
	margin-right:10px;
	z-index: 5;
	
}

.close-btn
{
	background-color: #C90000;
	float: right; 
	padding: 0px 4px;
	margin-top:1px;
	height:18px;
	margin-top: -24px;
	margin-right:1px;
	z-index: 5;
	
}

.close-btn img
{
	width:8px;
}

.itineraire-btn :active
{
	background-color:black;
	color:white;
	overflow:hidden;
}

.other-content
{
	padding : 10px 10px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	min-width : 350px;
}

.other-content h2
{
	font-size: 20px;
    font-variant: small-caps;
    font-weight: 800;
    color: #454545;
}

.other-content p
{
    color: #454545;
	margin-top:25px;
}

#google-copyright
{
	color: #0058FF
}

.other-content h3 
{
	font-size:16px;
	color:black;
	font-weight:700;
}

.other-content a{
	text-decoration:none;
	color:grey;
}

.other-content #selected{
	color:#CC1439;
	font-weight:600;
}


/****************************** FILTRES ***************************/
.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}
/*
.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}*/

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

/****************************** MAP ***************************/

#Responsive-Content{
  position:relative;
  background-color:#FFF;
  margin:0;
  overflow:hidden;
}
.angular-google-map-container { height: 600px; }
 #map, #map-panel {
    max-height: 100%;
    min-height: 450px;
    width: 100%;
    margin: 0px;
}

#map_canvas {
    position: relative;
	height:500px;
}
#repeat{
    display: inline;
}

#names {
    cursor: pointer;
}

.gmnoprint {
display:none;
}

.gm-style-iw
{
max-height:600px;
}

/****************************** MAP-PANEL ***************************/
#map-panel  {
    width: 25%;
	height:auto;
    float: right;
    position: relative;
    margin-top: -600px;
	background-color:white;
	max-height: 466px;
	overflow-x: hidden;
    overflow-y: hidden;
	overflow: auto;
	min-width:300px;
	border-style: solid;
    border-width: 0px;
	min-height: 480px
}
#map-panel tr {
  font-size:10px;
  margin-left:auto;
  margin-right:auto;
}

#map-panel .adp-legal {
  font-size:9px;
  bottom: 0;

}

#map-panel .adp{
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    color: #2C2C2C;
    font-size: 12px;
    padding: 0px 40px;
}

#map-panel .adp-summary{
    text-align: center;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #C90000;

}

#map-panel .adp-directions {
margin-left: auto;
margin-right: auto;
}
#map-panel .adp-directions td{
text-align: center;
}

#map-panel .adp-directions td{
border-color: whitesmoke;
}
#map-panel .adp-placemark {
    background: black;
    border: 0px solid #D2B8B8;
    color: #ebebeb;
    cursor: pointer;
    margin: 2px 0px 2px 0px;
    vertical-align: middle;
	width: 100%;
  }
  
  #map-panel .adp-placemark td {
    font-size:11px;
	padding: 5px 5px;
	text-align:center;
  }


#map-panel h2 {
	font-variant: small-caps;
    font-size: 18px;
    text-align: center;
    height: 35px;
    color: white;
    background-color: #4285F4;
    margin-top: 0px;
    margin: left:0px;

}

#map-panel .warnbox-content, .adp-warnbox
{
    display: none;

}

#map-panel  img{
    width: 12px;
    height: auto;
	display:none;
}

#map-panel  td {
padding: 2% 0%;
font-weight: 500;

}

#map-panel .adp-substep .adp-stepicon {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    padding-left: 6px;
}

#map-panel button
{
	font-size: 14px;
    padding: 0px 3px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -1%;
    height: 18px;
    background-color: black;
    color: white;
	position:absolute;
}

#itineraire-btn
{
float:left;
position: relative;


}

/****************************** Info window ***************************/

.infoWindowContent
{
	margin-top:-1em;
	position:relative;
	min-height:120px;
	height:auto;
	max-height:180px;
  max-width:190px;
  min-width:180px;
}

.infoWindowContent img
{
	width: 40%;
    position: absolute;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: auto;
}

.content
{
    float: right;
    width: 50%;
}

.content p
{
  font-size: 9px;
  margin-bottom: 1px;
  color:black;
  -webkit-margin-before: 0em;
}

.infoWindowContent button
{
    padding: 0px 20px;
    color: white;
    background-color: rgb(143, 0, 0);
    height: 20px;
    margin-top: 10px;
    margin-left: 40%;
	font-variant:small-caps;
	font-weight:bold;
	font-size:12px;
}

.content button:hover
{
    background-color: grey;
}

.content h2
{
	font-size: 13px;
    padding: 0px 0px;
    padding-bottom: -1px;
    margin-bottom: 3px;
    color: #555;

}


/****************************** Search Bar ***************************/
#search {

	margin-top: 1px;
    display: inline-block;
    margin-left: 30px;
	z-index: 3;

}

#search input[type="text"] {
   background: url(../images/search-white.png) no-repeat 12px 2px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 10px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 20%;
    min-width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 3px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    height: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

  }

#search input[type="text"]:focus {
    width: 30%;
	min-width:170px;
    }


/****************************** Filtres ***************************/

#slide{
  position:absolute;
  width:100%;
  height:10px;
  top:90%;
  background: grey;
  position:fixed;
  bottom:auto;
}


.animate-slide {
  background:black;
  opacity: 0.88;
  position:absolute;
  width: 100%;
  height:100%;
  top: 65%;
  -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
  transform: translate3d(0,0,0,);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.animate-slide  h2
{
	text-align:left;
	padding-left:2%;
	padding-right:70%;
	font-size:18px;
	margin-top: -1px;
	color:white;
	font-variant: small-caps;
	display : inline-block;
}

.animate-slide  hr
{
	margin-top: -12px;
    margin-bottom: auto;
    border-width: 0.5px;
    border-top: 1px solid rgba(47, 41, 41, 0.95);
    padding-bottom: 5px;

}

.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove {
  display:block!important;
}

.animate-slide.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.8s slide-up;
  animation:0.8s slide-up;
}

.animate-slide.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.8s slide-down;
  animation:0.8s slide-down;
}

.animate-slide.ng-hide {
    /*position:fixed;*/
  top:96%;
  display:block!important;
}

.arrow
{
	width: 6.5px;
    float: right;
    margin-top: 5.5px;
    margin-right: 2%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-up
{
  0%   {top:80%;}
  100%  {top:0;}
}

/* Standard syntax */
@keyframes slide-up
{
  0%   {top:80%;}
  100%  {top:0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-down
{
  0%  {top:0;}
  100%   {top:80%;}
}

/* Standard syntax */
@keyframes slide-down
{
  0%  {top:0;}
  100%   {top:80%;}
}

/************* INPUT *************/
table
{
  margin: 0 auto;
}
tr{
  height:100%;
}
td
{
  text-align: center;
  padding:3% 6%;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: white;
    font-family:Arial, sans-serif;
    font-size:1em;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color: black;
}

input[type="radio"]:checked + label span{
     background-color: white;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

table img
{
  width:1.7em;
  min-width:13px;
  height:auto;
  float:right;
  margin-left:-0.25em;
  margin-top: -0.25em;
  position:absolute;
  z-index:-1;
}

label div{
  margin-top:15px;
  display:block;
}

/****************************** FOOTER ***************************/
.footer {
 text-align: center;
 margin: 80px 0 110px;
}

.footer h2 {
 font-size: 24px;
 margin-bottom: 25px;
}

.footer img {
   margin: 0 10px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.onoffswitch {
    position: relative; width: 62px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 14px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #E3E3E3; color: #B39D9D;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #E3E3E3; color: #A18C8C;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 0px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #CC1439; 
}
