<dl class="sub-nav">
	<dt>Projets :</dt>
	<dd><a href="#/projets/visuels">Visuels</a></dd>
	<dd class="active"><a href="">Audio</a></dd>
	<dd><a href="#/projets/video">Vidéos</a></dd>
	<dd><a href="#/projets/web">Web</a></dd>
</dl>

<div class="row large">
    <h1>Audio</h1>
</div>

<div class="row large" >
    <div class="columns large-10 large-offset-2" ng-repeat="sound in sounds">
    	<h2>{{ sound.title }}</h2>
    	<div ng-repeat="music in sound.musics">
    		<p class="text-justify"  ng-bind-html="music.ref"></p>
    		<p class="icon color-{{music.color}}" ng-bind-html="music.tools"></p>
            <p class="icon color-{{music.color}}" ng-bind-html="music.instruments"></p>
    	</div>
        
    </div>
</div>
