<div class="row">
    <div class="columns large-12">
        <h1 class="text-center">N'hésitez pas à m'envoyer un e-mail !</h1>
    </div>
    
    <div class="visible-for-large-up">
        <div class="columns large-6">

            <p>
                <img src="img/photo.jpg" alt="Lorenzo"/>
            </p>
            <blockquote>
                <p class="text-justify">&OpenCurlyDoubleQuote; En vous souhaitant un <strong>bon séjour</strong> sur ce site ! &CloseCurlyDoubleQuote;</p>
            </blockquote>
        </div>
    </div>
        
    <div class="columns large-6 small-12">
        <form action="mailto:lorenzo.milesi@live.fr" method="post" enctype="text/plain" data-abide="ajax" id="form-contact">

            <fieldset>
                <legend>Envoyer un e-mail :</legend>
                <div class="row">
                    <div class="columns large-6 medium-6 small-12">
                        <label for="nom" class="inline">Nom</label>
                            <input name="nom" type="text" id="nom" required pattern="[a-zA-Z]+" />
                    </div>
                    <div class="columns large-6 medium-6 small-12">
                        <label for="email" class="inline">Email</label>
                        <input name="email" type="text" id="email" placeholder="machin@truc.lol" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                    </div>
                </div>


                <p>
                    <label for="message" class="inline">Message</label>
                    <textarea name="message" id="message"></textarea>
                </p>

                <p>
                    <input class="button" type="submit" value="Envoyer" id="envoyer" />
                </p>
            </fieldset>

            
        </form>
        <p class="text-right"> | Lorenzo Milesi</p>

    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#envoyer').click(function() {
        $('#form-contact').attr('action',
                        'mailto:lorenzo.milesi@live.fr?subject=' +
                        'Portfolio'+ '&body=' + $('#message').val());
        $('#form-contact').submit();
    });
});
</script>