<div class="row">
    <div class="columns large-12">
        <h1 class="text-center">Bienvenue sur mon portfolio !</h1>
    </div>
    <div class="columns large-6">
        <p>
            Salutations, je suis Lorenzo Milesi, <br/>
            J'étudie en école d'<strong><a href="http://www.ingenieur-imac.fr" target="_blank" >ingénieur IMAC</a></strong>. <br/>
            Des lettres, des arts et des maths je suis transi. <br/>
            Bosseur et motivé, fort loin de mon hamac.
        </p>
        <p>
            Bref, passionné de web, d'action et de musique, <br/>
            Guitariste actif depuis une décénie, (depuis 2005) <br/>
            &Eacute;pris de théâtre et du rythme fantastique <br/>
            Des mots, leur pouvoir, leur sens, leur calligraphie.
        </p>
        <p>
            J'aime le contact, en particulier humain, <br/>
            Le travail en groupe, les projets, l'innovation. <br/>
            Stimulant, mais également calme et serein, <br/>
            Je ne risque pas de mourir d'inanition !
        </p>
        <p class="text-right"> | Lorenzo Milesi</p>
    </div>

    <div class="columns large-6">

        <p>
            <img src="img/photo.jpg" alt="Lorenzo"/>
        </p>
        <blockquote>
            <p class="text-justify">&OpenCurlyDoubleQuote; En vous souhaitant un <strong>bon séjour</strong> sur ce site ! &CloseCurlyDoubleQuote;</p>
        </blockquote>
    </div>

    <div class="columns large-12">
        <h2>
            Projets en cours
        </h2>

        <div class="row" ng-repeat="project in projects" >
            <div class="columns large-12">
                <h3>{{ project.name }}<h3>    
            </div>
            
            <div class="columns large-6">
                <p>
                    <a ng-href="{{project.link}}" target="_blank" >
                        <img ng-src="{{project.preview}}" ng-alt="{{project.name}}"/>
                    </a>    
                </p>
                
            </div>
            <div class="columns large-6">
                <p class="text-justify">{{ project.descriptiona }}</p>   
                <p class="text-justify">{{ project.descriptionb }}</p>   
                <a ng-href="{{project.link}}" target="_blank">{{ project.linkb }}</a>
            </div>
        </div>
    </div>



</div>