<dl class="sub-nav">
    <dt>Projets :</dt>
    <dd><a href="#/projets/visuels">Visuels</a></dd>
    <dd><a href="#/projets/audio">Audio</a></dd>
    <dd class="active"><a href="">Vidéos</a></dd>
    <dd><a href="#/projets/web">Web</a></dd>
</dl>

<div class="row large">
    <h1>Vidéothèque</h1>
    <p class="text-justify">
        Au menu de l'animation, des courts métrages, des moins courts métrages et des concerts.
    </p>
</div>

<div class="row large" >
    <div class="columns large-6" ng-repeat="vid in vids">
        <h2>{{vid.name}} 
            <p ng-bind-html="vid.tools" class="text-right"></p>
        </h2>
        <p ng-bind-html="vid.ref"></p>
    </div>
</div>
